<ion-side-menus>
    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-stable nav-title-slide-ios7">
            <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left">
        <header class="bar bar-header bar-stable">
            <h1 class="title">Menu</h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item class="item item-icon-left" nav-clear menu-close ui-sref="app.teams">
                    <i class="icon ion-ios7-football-outline"></i>
                    Teams
                </ion-item>
                <ion-item class="item item-icon-left" nav-clear menu-close ui-sref="app.players">
                    <i class="icon ion-ios7-people"></i>
                    Players
                </ion-item>
                <ion-item class="item item-icon-left" nav-clear menu-close ui-sref="app.settings">
                    <i class="icon ion-ios7-gear"></i>
                    Settings
                </ion-item>
                <ion-item class="item item-icon-left" nav-clear menu-close ui-sref="logout">
                    <i class="icon ion-log-out"></i>
                    Logout
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
