<ion-view title="Teams">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
        <h1>Teams</h1>

        <ul class="list">
            <li class="list-item" ng-repeat="team in teams">{{ team.name }}</li>
        </ul>
  </ion-content>
</ion-view>
