<ion-view title="Players">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <h1>Players</h1>

        <p>Players will appear here</p>
    </ion-content>
</ion-view>
